/* Footer background color */
/* line 3, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top {
  float: right;
  position: relative;
}
@media (max-width: 479px) {
  /* line 3, ../../../sass/modules/blocklanguages/blocklanguages.scss */
  #languages-block-top {
    width: 25%;
  }
}
/* line 10, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top span.firstWord {
  display: none;
}
/* line 13, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top div.current {
  margin: 3px 10px 0 0;
  padding: 8px 10px 10px 10px;
  line-height: 18px;
  cursor: pointer;
}
@media (max-width: 479px) {
  /* line 13, ../../../sass/modules/blocklanguages/blocklanguages.scss */
  #languages-block-top div.current {
    text-align: center;
    padding: 9px 5px 10px;
    font-size: 11px;
  }
}
/* line 29, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top div.current:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 18px;
  color: #686666;
  vertical-align: -2px;
  padding-left: 5px;
}
@media (max-width: 479px) {
  /* line 29, ../../../sass/modules/blocklanguages/blocklanguages.scss */
  #languages-block-top div.current:after {
    padding-left: 2px;
    font-size: 13px;
    line-height: 13px;
    vertical-align: 0;
  }
}
@media (max-width: 479px) {
  /* line 45, ../../../sass/modules/blocklanguages/blocklanguages.scss */
  #languages-block-top div.current .cur-label {
    display: none;
  }
}
/* line 52, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top ul {
  display: none;
  position: absolute;
  top: 37px;
  left: 0;
  width: 157px;
  background: #333333;
  z-index: 2;
}
/* line 60, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top ul li {
  color: white;
  line-height: 35px;
  font-size: 13px;
}
/* line 65, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top ul li a,
#languages-block-top ul li > span {
  padding: 0 10px 0 12px;
  display: block;
  color: white;
}
/* line 70, ../../../sass/modules/blocklanguages/blocklanguages.scss */
#languages-block-top ul li.selected, #languages-block-top ul li:hover a {
  background: #484848;
}
