/* Footer background color */
/* product desc */
/* primary_block ***************************************************************************** */
/* line 6, ../sass/product.scss */
.primary_block {
  margin-bottom: 40px;
}

/* line 9, ../sass/product.scss */
.top-hr {
  height: 5px;
  margin: 2px 0 31px;
}

/* line 14, ../sass/product.scss */
.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Gotham", Century Gothic, Futura, sans-serif;
}

/* line 21, ../sass/product.scss */
.box-security .product-heading-h5 {
  margin: 3px 0 -8px;
}
@media (max-width: 959px) {
  /* line 21, ../sass/product.scss */
  .box-security .product-heading-h5 {
    margin-bottom: 8px;
  }
}

/* line 28, ../sass/product.scss */
#productscategory_list .product-name,
.accessories-block .product-name {
  margin-bottom: 5px;
}
/* line 30, ../sass/product.scss */
#productscategory_list .product-name a,
.accessories-block .product-name a {
  font-size: 15px;
  line-height: 18px;
  color: #3a3939;
}
/* line 34, ../sass/product.scss */
#productscategory_list .product-name a:hover,
.accessories-block .product-name a:hover {
  color: #515151;
}

/* line 39, ../sass/product.scss */
img {
  max-width: 100%;
  height: auto;
}

/* .pb-left-column ***************************************************************************** */
/* line 47, ../sass/product.scss */
.pb-left-column #image-block {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 5px;
  background: white;
}
@media (max-width: 767px) {
  /* line 47, ../sass/product.scss */
  .pb-left-column #image-block {
    width: 280px;
    margin: 0 auto;
  }
}
/* line 57, ../sass/product.scss */
.pb-left-column #image-block img {
  background: #fbfbfb;
  width: 100%;
}
/* line 63, ../sass/product.scss */
.pb-left-column #image-block #view_full_size .span_link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -68px;
  display: block;
  padding: 10px 0;
  text-align: center;
  line-height: 22px;
  color: #777676;
  width: 136px;
  text-align: center;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}
/* line 78, ../sass/product.scss */
.pb-left-column #image-block #view_full_size .span_link:after {
  font-family: "FontAwesome";
  color: #c0c0c0;
  font-size: 20px;
  line-height: 22px;
  content: "\f00e";
  font-weight: normal;
  margin: 0 0 0 4px;
}
/* line 87, ../sass/product.scss */
.pb-left-column #image-block #view_full_size .span_link:hover:after {
  color: #333333;
}
/* line 94, ../sass/product.scss */
.pb-left-column #image-block a.jqzoom div div img {
  width: auto;
  max-width: 10000px;
}
/* line 98, ../sass/product.scss */
.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
  border: none;
}
/* line 103, ../sass/product.scss */
.pb-left-column #image-block .zoomPad {
  z-index: auto!important;
}
/* line 107, ../sass/product.scss */
.pb-left-column #image-block .new-box,
.pb-left-column #image-block .sale-box {
  z-index: 5002;
}

/* miniatures */
/* line 115, ../sass/product.scss */
.pb-left-column #views_block {
  margin-top: 10px;
}
@media (max-width: 767px) {
  /* line 115, ../sass/product.scss */
  .pb-left-column #views_block {
    width: 280px;
    margin: 0 auto;
  }
}

/* line 122, ../sass/product.scss */
#thumbs_list {
  overflow: hidden;
  float: left;
  width: 392px;
}
@media (min-width: 960px) and (max-width: 959px) {
  /* line 122, ../sass/product.scss */
  #thumbs_list {
    width: 290px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 122, ../sass/product.scss */
  #thumbs_list {
    width: 164px;
  }
}
@media (max-width: 767px) {
  /* line 122, ../sass/product.scss */
  #thumbs_list {
    width: 194px;
  }
}
/* line 135, ../sass/product.scss */
#thumbs_list ul#thumbs_list_frame {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  height: 90px;
}
/* line 141, ../sass/product.scss */
#thumbs_list li {
  float: left;
  height: 90px;
  width: 90px;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  margin-right: 8px;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 141, ../sass/product.scss */
  #thumbs_list li {
    width: 76px;
    height: 76px;
  }
}
/* line 154, ../sass/product.scss */
#thumbs_list li:first-child {
  margin: 0 9px 0 0;
}
/* line 157, ../sass/product.scss */
#thumbs_list li.last {
  margin-right: 0;
}
/* line 160, ../sass/product.scss */
#thumbs_list li a {
  display: block;
  border: 3px solid white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fbfbfb;
}
/* line 166, ../sass/product.scss */
#thumbs_list li a:hover, #thumbs_list li a.shown {
  border-color: #dbdbdb;
}
/* line 170, ../sass/product.scss */
#thumbs_list li img {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 170, ../sass/product.scss */
  #thumbs_list li img {
    width: 68px;
    height: 68px;
  }
}

/* line 182, ../sass/product.scss */
span.view_scroll_spacer {
  float: left;
  width: 39px;
  padding-left: 12px;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 182, ../sass/product.scss */
  span.view_scroll_spacer {
    padding-left: 6px;
    width: 28px;
  }
}

/* line 192, ../sass/product.scss */
#view_scroll_left,
#view_scroll_right {
  margin-top: 38px;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 192, ../sass/product.scss */
  #view_scroll_left,
  #view_scroll_right {
    margin-top: 28px;
  }
}
/* line 202, ../sass/product.scss */
#view_scroll_left:before,
#view_scroll_right:before {
  padding-left: 2px;
  color: silver;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 22px;
}
/* line 209, ../sass/product.scss */
#view_scroll_left:hover:before,
#view_scroll_right:hover:before {
  color: #333333;
}

/* line 213, ../sass/product.scss */
#view_scroll_right {
  float: left;
}
/* line 215, ../sass/product.scss */
#view_scroll_right:before {
  content: "\f138";
}

/* line 219, ../sass/product.scss */
#view_scroll_left {
  margin-top: 0;
}
/* line 221, ../sass/product.scss */
#view_scroll_left:before {
  content: "\f137";
  padding-right: 2px;
}

/* line 226, ../sass/product.scss */
.resetimg {
  padding: 10px 0 0;
}
/* line 228, ../sass/product.scss */
.resetimg #resetImages i {
  margin-right: 6px;
}

/* line 232, ../sass/product.scss */
.view_scroll_spacer {
  margin-top: 38px;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 232, ../sass/product.scss */
  .view_scroll_spacer {
    margin-top: 28px;
  }
}

/* link list */
/* line 240, ../sass/product.scss */
#usefull_link_block {
  list-style-type: none;
}
/* line 242, ../sass/product.scss */
#usefull_link_block li {
  margin: 0 0 8px 0;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 242, ../sass/product.scss */
  #usefull_link_block li {
    float: none !important;
  }
}
/* line 247, ../sass/product.scss */
#usefull_link_block li:first-child {
  margin: 0 0 8px 0;
  border: none;
  padding: 0;
}
/* line 252, ../sass/product.scss */
#usefull_link_block li a {
  color: #777676;
  font-weight: 700;
  position: relative;
  padding-left: 30px;
  line-height: 22px;
  display: inline-block;
}
/* line 260, ../sass/product.scss */
#usefull_link_block li a:before {
  font-family: "FontAwesome";
  color: #333333;
  font-size: 19px;
  line-height: 24px;
  position: absolute;
  top: -2px;
  left: 0;
  font-weight: normal;
}
/* line 270, ../sass/product.scss */
#usefull_link_block li a:hover {
  color: #000;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 274, ../sass/product.scss */
  #usefull_link_block li.print {
    margin: 8px 0 0;
    padding: 0;
    border: none;
  }
}
/* line 280, ../sass/product.scss */
#usefull_link_block li.print a:before {
  content: "\f02f";
}
/* line 285, ../sass/product.scss */
#usefull_link_block li.sendtofriend a:before {
  content: "\f003";
}
/* line 289, ../sass/product.scss */
#usefull_link_block li#left_share_fb {
  clear: both;
  float: none;
}
/* line 292, ../sass/product.scss */
#usefull_link_block li#left_share_fb a {
  padding-left: 18px;
}
/* line 295, ../sass/product.scss */
#usefull_link_block li#left_share_fb a:before {
  content: "\f09a";
}
/* line 302, ../sass/product.scss */
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
  cursor: pointer;
  font-weight: 700;
  clear: both;
  float: none;
  margin: 0 0 8px 0;
  border: none;
  padding: 0;
  position: relative;
}
/* line 311, ../sass/product.scss */
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
  font-family: "FontAwesome";
  color: #333333;
  font-size: 19px;
  line-height: 24px;
  position: absolute;
  top: -2px;
  left: 0;
  font-weight: normal;
  content: "\f08a";
}
/* line 322, ../sass/product.scss */
#usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
  color: #000;
}
/* line 326, ../sass/product.scss */
#usefull_link_block li#favoriteproducts_block_extra_removed:before {
  content: "\f004";
}

/* pb-left-column ****************************************************************************** */
/* line 334, ../sass/product.scss */
.pb-center-column {
  margin-bottom: 30px;
  /* form */
}
/* line 336, ../sass/product.scss */
.pb-center-column h1 {
  padding-bottom: 16px;
  font-size: 20px;
  color: #3a3939;
}
/* line 341, ../sass/product.scss */
.pb-center-column p {
  margin-bottom: 10px;
}
/* line 344, ../sass/product.scss */
.pb-center-column #product_reference {
  margin-bottom: 6px;
}
/* line 346, ../sass/product.scss */
.pb-center-column #product_reference span {
  font-weight: 700;
  color: #333333;
}
/* line 351, ../sass/product.scss */
.pb-center-column #short_description_block {
  color: #666666;
}
/* line 353, ../sass/product.scss */
.pb-center-column #short_description_block .buttons_bottom_block {
  display: none;
}
/* line 356, ../sass/product.scss */
.pb-center-column #short_description_block #short_description_content {
  padding: 0 0 15px;
  word-wrap: break-word;
}
/* line 359, ../sass/product.scss */
.pb-center-column #short_description_block #short_description_content p {
  line-height: 18px;
}
/* line 365, ../sass/product.scss */
.pb-center-column #buy_block {
  margin-top: 10px;
}
/* line 367, ../sass/product.scss */
.pb-center-column #buy_block label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
}
/* line 375, ../sass/product.scss */
.pb-center-column #buy_block p.price {
  padding: 0;
}
/* line 380, ../sass/product.scss */
.pb-center-column #color_picker p {
  padding-bottom: 5px;
  font-weight: 700;
}

/* line 385, ../sass/product.scss */
#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #d6d4d4;
  border-bottom: 1px solid #d6d4d4;
  margin: 10px 0 -5px;
  position: relative;
}
/* line 391, ../sass/product.scss */
#product p#loyalty b {
  color: #333333;
}
/* line 394, ../sass/product.scss */
#product p#loyalty:before {
  content: "\f024";
  font-family: "FontAwesome";
  color: #cfcccc;
  font-size: 26px;
  line-height: 28px;
  position: absolute;
  top: 16px;
  left: 0;
}

/* line 405, ../sass/product.scss */
#page .rte {
  padding: 0 20px 20px;
  word-wrap: break-word;
}
/* line 408, ../sass/product.scss */
#page .rte p {
  margin-bottom: 0;
}

/* line 413, ../sass/product.scss */
#attributes fieldset {
  padding-bottom: 3px;
}
/* line 415, ../sass/product.scss */
#attributes fieldset label {
  vertical-align: top;
  display: block;
}
/* line 420, ../sass/product.scss */
#attributes .attribute_list {
  width: 100%;
}
/* line 422, ../sass/product.scss */
#attributes .attribute_list .form-control {
  max-width: 230px;
}
/* line 424, ../sass/product.scss */
#attributes .attribute_list .form-control option {
  background: white;
  color: #666666;
}
/* line 429, ../sass/product.scss */
#attributes .attribute_list ul {
  clear: both;
}
/* line 431, ../sass/product.scss */
#attributes .attribute_list ul li {
  float: left;
  margin-right: 10px;
}
/* line 436, ../sass/product.scss */
#attributes .attribute_list input.attribute_radio {
  float: left;
  margin-left: 3px;
}
/* line 442, ../sass/product.scss */
#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
  float: none;
  display: inline-block;
}
/* line 446, ../sass/product.scss */
#attributes .attribute_list #color_to_pick_list {
  list-style-type: none;
}
/* line 448, ../sass/product.scss */
#attributes .attribute_list #color_to_pick_list li {
  float: left;
  margin: 0 3px 3px 0;
  padding: 1px;
  border: 1px solid #d6d4d4;
  clear: none;
}
/* line 454, ../sass/product.scss */
#attributes .attribute_list #color_to_pick_list li a.color_pick {
  display: block;
  height: 22px;
  width: 22px;
  cursor: pointer;
}
/* line 460, ../sass/product.scss */
#attributes .attribute_list #color_to_pick_list li.selected {
  border: 1px solid #4d4d4d;
}

/* line 468, ../sass/product.scss */
.product_attributes,
.box-cart-bottom {
  padding: 19px 19px 17px;
}

/* line 472, ../sass/product.scss */
.box-cart-bottom {
  padding: 0;
}

/* line 476, ../sass/product.scss */
.box-info-product {
  background: #f6f6f6;
  background: url(../img/bg_patterns/noise.png) #f2ede9;
}
/* line 482, ../sass/product.scss */
.box-info-product p {
  margin-bottom: 7px;
}
/* line 485, ../sass/product.scss */
.box-info-product .exclusive {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px;
  padding: 29px;
  background: #dc7670;
  position: relative;
  display: block;
  border: none;
}
/* line 497, ../sass/product.scss */
.box-info-product .exclusive:before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 57px;
  line-height: 47px;
  content: "\f07a";
  z-index: 2;
  width: 157px;
  top: 30px;
  text-align: center;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
@media (max-width: 959px) {
  /* line 497, ../sass/product.scss */
  .box-info-product .exclusive:before {
    display: none;
  }
}
/* line 521, ../sass/product.scss */
.box-info-product .exclusive.added:before {
  content: "\f00c";
}
/* line 527, ../sass/product.scss */
.box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
  content: "\f00c";
}
/* line 531, ../sass/product.scss */
.box-info-product .exclusive:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 51px;
  content: "";
  width: 1px;
  z-index: 2;
}
@media (max-width: 959px) {
  /* line 531, ../sass/product.scss */
  .box-info-product .exclusive:after {
    display: none;
  }
}
/* line 544, ../sass/product.scss */
.box-info-product .exclusive span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 99px;
  position: relative;
  top: 30px;
  color: white;
  display: block !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 959px) {
  /* line 544, ../sass/product.scss */
  .box-info-product .exclusive span {
    padding: 12px 22px 14px 55px;
    font-size: 14px;
  }
}
@media (max-width: 959px) {
  /* line 544, ../sass/product.scss */
  .box-info-product .exclusive span {
    padding: 8px 12px 10px;
    text-align: left;
  }
}

/* line 574, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product {
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf;
}
/* line 579, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product p {
  margin-bottom: 7px;
  padding: 15px 10px 0;
}
/* line 583, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
  padding: 0;
  border-top: 1px solid #0079b6;
  border-right: 1px solid #006fa8;
  border-left: 1px solid #006fa8;
  border-bottom: 1px solid #012740;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  display: block;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
  background-image: -webkit-linear-gradient(#009ad0, #007ab7);
  background-image: -moz-linear-gradient(#009ad0, #007ab7);
  background-image: -o-linear-gradient(#009ad0, #007ab7);
  background-image: linear-gradient(#009ad0, #007ab7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 );
}
/* line 594, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
  font-family: "FontAwesome";
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 25px;
  line-height: 47px;
  text-shadow: 0 1px #015883;
  content: "\f07a";
  z-index: 2;
  width: 51px;
  text-align: center;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 959px) {
  /* line 594, ../sass/product.scss */
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
    display: none;
  }
}
/* line 615, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
  content: "\f00c";
}
/* line 621, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
  content: "\f110";
  animation: 2s linear 0s normal none infinite spin;
  -webkit-animation: 2s linear 0s normal none infinite spin;
  -moz-animation: 2s linear 0s normal none infinite spin;
  border: none;
}
/* line 629, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
  background: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 51px;
  content: "";
  width: 1px;
  z-index: 2;
}
@media (max-width: 959px) {
  /* line 629, ../sass/product.scss */
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
    display: none;
  }
}
/* line 642, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-top: 1px solid #006fa8;
  text-shadow: 0 1px #015883;
  padding: 12px 16px 14px;
  color: white;
  display: block !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 959px) {
  /* line 642, ../sass/product.scss */
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
    font-size: 16px;
  }
}
@media (max-width: 959px) {
  /* line 642, ../sass/product.scss */
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
    padding: 8px 12px 10px;
    text-align: center;
  }
}
/* line 662, ../sass/product.scss */
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
  background-image: -webkit-linear-gradient(#007ab7, #009ad0);
  background-image: -moz-linear-gradient(#007ab7, #009ad0);
  background-image: -o-linear-gradient(#007ab7, #009ad0);
  background-image: linear-gradient(#007ab7, #009ad0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
  background-position: 0 0;
}

/* table_data_sheet */
/* line 673, ../sass/product.scss */
.table-data-sheet {
  width: 100%;
  margin: 0 0 20px;
}
/* line 678, ../sass/product.scss */
.table-data-sheet .key {
  font-weight: bold;
}

/* table product-discounts */
/* line 685, ../sass/product.scss */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #d6d4d4;
  border-right: 1px solid #d6d4d4;
  width: 50%;
  margin: 0 0 20px;
  background: white;
}
@media (max-width: 767px) {
  /* line 685, ../sass/product.scss */
  table.table-product-discounts {
    width: 100%;
  }
}
/* line 695, ../sass/product.scss */
table.table-product-discounts tr th {
  background: #fbfbfb;
  color: #333333;
  font-weight: 700;
  border: none;
  font-weight: 700;
}
/* line 703, ../sass/product.scss */
table.table-product-discounts tr td,
table.table-product-discounts tr th {
  border-left: 1px solid #d6d4d4;
  width: 33%;
  padding: 10px 20px 11px;
  border-top: 1px solid #d6d4d4;
  border-right: none;
  text-shadow: none;
  text-transform: none;
  font-weight: 13px;
  line-height: 18px;
  border-bottom: none;
}

/* accessories  */
/* line 719, ../sass/product.scss */
.accessories-block .block_description {
  display: none;
}
/* line 722, ../sass/product.scss */
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none;
}
/* line 728, ../sass/product.scss */
.accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
  text-decoration: none;
}

/* quantity_wanted */
/* line 736, ../sass/product.scss */
#quantity_wanted_p input {
  width: 78px;
  height: 27px;
  padding: 0 6px;
  float: left;
  border: 1px solid #d6d4d4;
  line-height: 27px;
}
/* line 744, ../sass/product.scss */
#quantity_wanted_p .btn {
  float: left;
  margin-left: 3px;
}
/* line 748, ../sass/product.scss */
#quantity_wanted_p label {
  display: block;
  margin-bottom: 7px;
}

/* availability_statut */
/* line 756, ../sass/product.scss */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
}

/* line 763, ../sass/product.scss */
#quantityAvailable {
  color: #333333;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

/* line 770, ../sass/product.scss */
#availability_value,
#last_quantities {
  color: white;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: #55c65e;
  border: 1px solid #36943e;
  margin-left: 5px;
}

/* line 780, ../sass/product.scss */
#last_quantities {
  background: #fe9126;
  border: 1px solid #e4752b;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
}

/* line 788, ../sass/product.scss */
#availability_statut,
#pQuantityAvailable {
  display: inline-block;
}

/* line 791, ../sass/product.scss */
#pQuantityAvailable span {
  font-weight: 700;
  color: #333333;
}

/* line 795, ../sass/product.scss */
#availability_statut #availability_value.warning_inline {
  background-color: #fe9126;
  border-color: #e4752b;
  text-shadow: 1px 1px #e68322;
  margin: 0;
}

/* box-security */
/* line 803, ../sass/product.scss */
.box-security {
  border-top: 1px solid #dfdede;
  padding: 19px 19px 6px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
  background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
  background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
  background-image: -o-linear-gradient(#ffffff, #fbfbfb);
  background-image: linear-gradient(#ffffff, #fbfbfb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fbfbfb',GradientType=0 );
}

/* prices */
/* line 811, ../sass/product.scss */
.content_prices {
  padding: 13px 19px;
}

/* line 814, ../sass/product.scss */
.discount {
  display: none;
}

/* line 818, ../sass/product.scss */
.our_price_display {
  font-weight: 600;
  font-size: 29px;
  line-height: 32px;
  font-family: "Gotham", Century Gothic, Futura, sans-serif;
  color: #333333;
}
@media (max-width: 959px) {
  /* line 818, ../sass/product.scss */
  .our_price_display {
    font-size: 26px;
    line-height: 28px;
  }
}

/* line 830, ../sass/product.scss */
#old_price {
  padding-bottom: 15px;
  font-size: 17px;
  text-decoration: line-through;
  display: inline-block;
  font-family: "Gotham", Century Gothic, Futura, sans-serif;
  line-height: 23px;
}

/* line 840, ../sass/product.scss */
#reduction_percent,
#reduction_amount {
  display: inline-block;
  margin-right: 10px;
  padding: 1px 2px;
  font-weight: 600;
  font-family: "Gotham", Century Gothic, Futura, sans-serif;
  font-size: 21px;
  line-height: 23px;
  color: white;
  background: #f13340;
  border: 1px solid #d02a2c;
}
/* line 851, ../sass/product.scss */
#reduction_percent span,
#reduction_amount span {
  display: block;
}

/* online_only */
/* line 857, ../sass/product.scss */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left;
}

/* line 864, ../sass/product.scss */
.buttons_bottom_block {
  clear: both;
  padding: 13px 19px 0;
}
/* line 867, ../sass/product.scss */
.buttons_bottom_block #wishlist_button {
  font-weight: 700;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
/* line 873, ../sass/product.scss */
#send_friend_form {
  width: 555px;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 873, ../sass/product.scss */
  #send_friend_form {
    width: 280px;
  }
}
/* line 880, ../sass/product.scss */
#send_friend_form .product img {
  margin: 0 0 10px 0;
  border: 1px solid #d6d4d4;
}
/* line 884, ../sass/product.scss */
#send_friend_form .product p {
  padding: 0;
  color: #333333;
}
/* line 887, ../sass/product.scss */
#send_friend_form .product p .product_name {
  font-size: 12px;
  color: #000;
}
/* line 893, ../sass/product.scss */
#send_friend_form .form_container {
  padding: 10px 15px;
  border: 1px solid #d6d4d4;
  background: #fbfbfb;
}
/* line 898, ../sass/product.scss */
#send_friend_form .form_container p.intro_form {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 13px;
  color: #333333;
}
/* line 904, ../sass/product.scss */
#send_friend_form .form_container p.txt_required {
  padding-bottom: 0;
  color: #666;
}
/* line 909, ../sass/product.scss */
#send_friend_form .form_container .text {
  padding-bottom: 10px;
}
/* line 911, ../sass/product.scss */
#send_friend_form .form_container .text label {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 12px;
}
/* line 917, ../sass/product.scss */
#send_friend_form .form_container .text input {
  padding: 0 5px;
  height: 22px;
  width: 100%;
  border: 1px solid base-border-color;
  font-size: 12px;
  color: #666;
}
/* line 927, ../sass/product.scss */
#send_friend_form .submit {
  margin-top: 20px;
  padding-bottom: 0;
  text-align: right;
}

/* PERSONNALISATION ##################################################################### */
/* line 936, ../sass/product.scss */
p.infoCustomizable {
  margin-bottom: 30px;
}

/* line 941, ../sass/product.scss */
ul#uploadable_files,
ul#text_fields {
  list-style-type: none;
}

/* line 946, ../sass/product.scss */
.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d4d4;
}

/* line 952, ../sass/product.scss */
.customizationUploadLine {
  padding-bottom: 10px;
}
/* line 954, ../sass/product.scss */
.customizationUploadLine label {
  display: block;
  vertical-align: top;
}
/* line 958, ../sass/product.scss */
.customizationUploadLine textarea {
  width: 50%;
  border: 1px solid #d6d4d4;
  color: #777777;
}

/* line 964, ../sass/product.scss */
.customizationUploadBrowse img + a {
  position: relative;
  top: -51px;
}

/* line 969, ../sass/product.scss */
#customizedDatas {
  float: right;
}

/* line 975, ../sass/product.scss */
.accessories_block div ul li a {
  display: inline-block;
}
/* line 980, ../sass/product.scss */
.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700;
}

/******************************************************************
Quick View Styles
******************************************************************/
/* line 992, ../sass/product.scss */
#product.content_only div.primary_block {
  margin-bottom: 0;
}
@media (max-width: 959px) {
  /* line 992, ../sass/product.scss */
  #product.content_only div.primary_block {
    margin-right: 0;
  }
}
/* line 998, ../sass/product.scss */
#product.content_only div.primary_block div.pb-left-column {
  padding: 20px 20px 5px 35px;
  width: 47%;
}
@media (max-width: 479px) {
  /* line 998, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-left-column {
    width: 100%;
    float: none;
  }
}
/* line 1005, ../sass/product.scss */
#product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer {
  width: 38px;
  padding-left: 10px;
}
/* line 1009, ../sass/product.scss */
#product.content_only div.primary_block div.pb-left-column #thumbs_list {
  width: 392px;
}
/* line 1013, ../sass/product.scss */
#product.content_only div.primary_block div.pb-center-column {
  padding: 20px 20px 60px 0px;
  width: 27.5%;
  margin-bottom: 0;
  min-height: 623px;
  height: 100%;
}
@media (max-width: 959px) {
  /* line 1013, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-center-column {
    min-height: 440px;
  }
}
@media (max-width: 479px) {
  /* line 1013, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-center-column {
    width: 100%;
    float: none;
  }
}
/* line 1026, ../sass/product.scss */
#product.content_only div.primary_block div.pb-center-column .product_comments_block_extra {
  padding-right: 0;
}
@media (max-width: 479px) {
  /* line 1030, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-center-column .comments_advices li {
    display: block;
  }
  /* line 1033, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
    margin: 0;
    padding: 0;
    border: none;
  }
}
/* line 1039, ../sass/product.scss */
#product.content_only div.primary_block div.pb-center-column #ShareDiv {
  position: absolute;
  bottom: 8px;
}
/* line 1044, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column {
  width: 25.5%;
  padding-right: 15px;
  padding-left: 0;
}
/* line 1048, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column .box-info-product {
  border-top-width: 0px;
  border-right: none;
  border-bottom: none;
  min-height: 623px;
  height: 100%;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  position: relative;
  padding-bottom: 125px;
}
@media (max-width: 959px) {
  /* line 1048, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-right-column .box-info-product {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 1px solid #d6d4d4;
  }
}
/* line 1061, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
  display: block;
  width: 100%;
}
/* line 1065, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
  display: block;
}
/* line 1068, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
  font-size: 20px;
  text-align: center;
}
@media (max-width: 959px) {
  /* line 1068, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
    padding: 12px 22px 14px 70px;
    font-size: 20px;
  }
}
/* line 1077, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
  right: 0;
  left: 0;
}
/* line 1083, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control {
  width: 230px;
}
/* line 1088, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column .product_attributes,
#product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 1091, ../sass/product.scss */
#product.content_only div.primary_block div.pb-right-column .product_attributes {
  padding-top: 0;
}

/* line 1099, ../sass/product.scss */
.addsharethisinner .stButton .stArrow {
  display: none !important;
}

@media (max-width: 1050px) {
  /* line 1112, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-left-column,
  #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px;
  }
  /* line 1115, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
  #product.content_only section.primary_block div.pb-left-column #image-block,
  #product.content_only section.primary_block div.pb-left-column #views_block {
    max-width: 470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 1122, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
  #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
    width: 90px;
    height: 90px;
  }
  /* line 1125, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
  #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
    width: 82px;
    height: 82px;
  }
  /* line 1132, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-center-column,
  #product.content_only section.primary_block div.pb-center-column {
    width: 50%;
    float: left;
    padding-left: 35px;
  }
  /* line 1143, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left;
  }
  /* line 1153, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-right-column .box-info-product,
  #product.content_only section.primary_block div.pb-right-column .box-info-product {
    border-top-width: 1px;
    min-height: 1px;
  }
}
@media (max-width: 1050px) and (max-width: 479px) {
  /* line 1107, ../sass/product.scss */
  #product.content_only div.primary_block,
  #product.content_only section.primary_block {
    margin-left: 0;
  }
}
@media (max-width: 1050px) and (max-width: 479px) {
  /* line 1132, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-center-column,
  #product.content_only section.primary_block div.pb-center-column {
    width: 100%;
    float: none;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 1050px) and (max-width: 479px) {
  /* line 1143, ../sass/product.scss */
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    margin-top: 10px;
    width: 100%;
    float: none;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/***** IE code ****/
/* line 1170, ../sass/product.scss */
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #d6d4d4;
}
/* line 1177, ../sass/product.scss */
.ie8 .box-security {
  filter: none;
}
