@font-face {
  font-family: 'Raleway-Regular';
  src: url("/fonts/Raleway-Regular.eot?") format("eot"), url("/fonts/Raleway-Regular.otf") format("opentype"), url("/fonts/Raleway-Regular.woff") format("woff"), url("/fonts/Raleway-Regular.ttf") format("truetype"), url("/fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
}

/* Footer background color */
/********************************************************
			Right to Left Styles
********************************************************/
/* line 8, ../sass/rtl.scss */
* {
  direction: rtl !important;
}

/* line 11, ../sass/rtl.scss */
#page {
  text-align: right !important;
}
