@import "compass";
@import "theme_variables";

/********************************************************
			One-Page Checkout Styles
			********************************************************/

			#order-opc {
				line-height: 20px;
				.box {
					padding-bottom: 20px;
				}
				.cart_navigation {
		//margin-bottom: 53px;
	}
	.page-heading.step-num {
		position: relative;
		overflow: visible;
		span {
			font-weight: bold;
			font-size: 42px;
			line-height: 51px;
			font-style: italic;
			color: $base-text-color;
			position: absolute;
			left: 10px;
			top: -14px;
		}
	}
	.form-group {
		margin-bottom: 2px;
		.form-control {
			width: 271px;
		}
	}
	.lost_password {
		display: inline-block;
		text-decoration: underline;
		margin: 5px 0 14px;
		&:hover {
			text-decoration: none;
		}
	}
	.title_block {
		font-weight: bold;
		color: $base-text-color;
		padding: 3px 0 6px;
	}
	.opc-button {
		padding: 11px 0 0 0;
	}
	ul.bullet {
		line-height: 22px;
		margin-bottom: 5px;
	}
	.date-select {
		padding-bottom: 10px;
	}
	.opc-add-save {
		border-top: 1px solid $base-border-color;
		margin-top: 20px;
		padding-top: 20px;
		button {@include border-radius(4px);}
	}
	#message {
		margin-bottom: 35px;
	}
	#opc_payment_methods {
		margin-bottom: 30px;
		p.warning{
			color: #F13340;
			font-weight: 700;
		}
	}
	#opc_account {
		margin-bottom: 30px;
	}
	.address_delivery.select {
		margin-bottom: 15px;
	}
	#address_invoice_form.form-group {
		margin-bottom: 30px;
	}
}

#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
	display: none;
}




#checkout-options{
	margin-bottom: 40px;


	.pp-checkout-heading{
		color: #000;
		margin-top:-60px;
		h3{
		font-weight:bold;
		font-size: 30px;
		}
	}

	.pp-checkout-options{
		float:right;

		p{
			margin-bottom:0;
			color: #000;
		}

		@media (max-width: $screen-xs-max) {
				float:left;
				margin: 50px 0 0 20px;
				}

	}

	.pp-klarna-checkout{
		float:right;
	}

	.pp-paypal-checkout{

	}
	.pp-checkout-option{
		margin-bottom: 20px;
		padding: 20px;
		border: 1px solid #ccc;
			background-color: rgba(245,245,245,0.5);

		a, button{	@include border-radius(4px);

			}

		.pp-payment-provider-services-logo{
			margin-bottom: 10px;


			&.pp-mastercard-logo{
				background: url(../img/icon/mastercard_2x.png) no-repeat;
			}

			&.pp-americanexpress-logo{
				background: url(../img/icon/americanexpress_2x.png) no-repeat;
			}
			&.pp-discovercard-logo{
				background: url(../img/icon/discovercard_2x.png) no-repeat;
			}
			&.pp-visa-logo{
				background: url(../img/icon/visa_2x.png) no-repeat;
			}
			&.pp-mastercard-logo{
				background: url(../img/icon/mastercard_2x.png) no-repeat;
			}
			&.pp-mastercard-logo{
				background: url(../img/icon/mastercard_2x.png) no-repeat;
			}
			&.pp-paypal-logo{
				background: url(../img/icon/paypal_2x.png) no-repeat;
				height: 60px !important;
				width: 80px !important;
				background-position: 2px 14px !important;
			}


			&.pp-payment-provider-services-logo{
				background-size: 100%;
				background-position: center;
				height: 40px;
				width: 40px;
				margin-right:5px;
				float:left;
			}


		}

		.pp-payment-provider-logo{

			&.pp-klarna-logo{
				background: url(../img/icon/klarna_2x.png) no-repeat;
				margin-left: 18px;
			}
			&.pp-paypal-logo{
				background: url(../img/icon/paypal_2x.png) no-repeat;
			}
			&.pp-payment-provider-logo{
				background-size: 50%;
				width: 200px;
				height: 40px;
				display:block;
			}
		}
	}
}


#opc_account_saved{
	margin-top: 30px;
}


#back-to-checkout-options{
	float:right;
	&:after{

	}
}





	// .button-medium {
	// 	float: right;
	// 	@include border-radius(4px);
	// 	font-size: 20px;
	// 	line-height: 24px;
	// 	span {
	// 		@include border-radius(4px);
	// 		padding: 11px 15px 10px 15px;
	// 		// max 992px
	// 		@media (max-width: $screen-md) {
	// 			font-size: 16px;
	// 		}
	// 	}
	// 	i.right {
	// 		font-size: 25px;
	// 		line-height: 25px;
	// 		vertical-align: -4px;
	// 		margin-left: 6px;
	// 	}
	// }
	// .button-exclusive {
	// 	border: none;
	// 	background: none;
	// 	padding: 0;
	// 	font-size: 17px;
	// 	font-weight: bold;
	// 	color: $base-text-color;
	// 	margin: 9px 0 0 0;
	// 	i {
	// 		color: #777777;
	// 		margin-right: 8px;
	// 	}
	// 	&:hover, &:focus, &:active {
	// 		color: $link-hover-color;
	// 		@include box-shadow(none);
	// 	}
	// }
	// @media (max-width: $screen-xs) {
	// 	> span {
	// 		display: block;
	// 		width: 100%;
	// 		padding-bottom: 15px;
	// 	}
	// }
