/* Footer background color */
/*******************************************************
Product list Styles
********************************************************/
/* line 10, product_list.scss */
ul.product_list .availability span {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px 4px 8px;
  margin-bottom: 20px;
}
/* line 16, product_list.scss */
ul.product_list .availability span.available-now {
  background: #55c65e;
  border: 1px solid #36943e;
}
/* line 20, product_list.scss */
ul.product_list .availability span.out-of-stock {
  background: #fe9126;
  border: 1px solid #e4752b;
}
/* line 26, product_list.scss */
ul.product_list .color-list-container {
  margin-bottom: 12px;
}
/* line 29, product_list.scss */
ul.product_list .color-list-container ul li {
  display: inline-block;
  border: 1px solid #d6d4d4;
}
/* line 32, product_list.scss */
ul.product_list .color-list-container ul li a {
  display: block;
  width: 23px;
  height: 23px;
  margin: 1px;
}
/* line 41, product_list.scss */
ul.product_list .product-image-container {
  text-align: center;
}
/* line 43, product_list.scss */
ul.product_list .product-image-container img {
  margin: 0 auto;
}
/* line 46, product_list.scss */
ul.product_list .product-image-container .quick-view {
  font: 700 13px/16px "Gotham", Century Gothic, Futura, sans-serif;
  color: #777676;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  background: rgba(255, 255, 255, 0.82);
  width: 107px;
  height: 43px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
}
@media (min-width: 960px) {
  /* line 46, product_list.scss */
  ul.product_list .product-image-container .quick-view {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 46, product_list.scss */
  ul.product_list .product-image-container .quick-view {
    display: none;
  }
}
/* line 67, product_list.scss */
ul.product_list .comments_note {
  text-align: left;
  overflow: hidden;
}
/* line 70, product_list.scss */
ul.product_list .comments_note .star_content {
  float: left;
}
/* line 73, product_list.scss */
ul.product_list .comments_note .nb-comments {
  overflow: hidden;
  font-style: italic;
}
/* line 80, product_list.scss */
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
  font-weight: bold;
  color: #777676;
  cursor: pointer;
}
/* line 84, product_list.scss */
ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
  color: #000;
}
/* line 88, product_list.scss */
ul.product_list .functional-buttons div.wishlist {
  border-right: 1px solid #d6d4d4;
}
/* line 90, product_list.scss */
ul.product_list .functional-buttons div.wishlist a:before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f08a";
  margin-right: 3px;
  padding: 0 3px;
}
/* line 97, product_list.scss */
ul.product_list .functional-buttons div.wishlist a.checked:before {
  content: "\f004";
}
@media (min-width: 960px) and (max-width: 959px) {
  /* line 88, product_list.scss */
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0;
  }
  /* line 102, product_list.scss */
  ul.product_list .functional-buttons div.wishlist a:before {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 88, product_list.scss */
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0;
  }
  /* line 108, product_list.scss */
  ul.product_list .functional-buttons div.wishlist a:before {
    display: none;
  }
}
/* line 115, product_list.scss */
ul.product_list .functional-buttons div.compare a:before {
  content: "\f067";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px;
}
@media (min-width: 960px) and (max-width: 959px) {
  /* line 115, product_list.scss */
  ul.product_list .functional-buttons div.compare a:before {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 115, product_list.scss */
  ul.product_list .functional-buttons div.compare a:before {
    display: none;
  }
}
/* line 129, product_list.scss */
ul.product_list .functional-buttons div.compare a.checked:before {
  content: "\f068";
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/
/* line 144, product_list.scss */
ul.product_list.grid > li {
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 144, product_list.scss */
  ul.product_list.grid > li {
    width: 50%;
    float: left;
  }
}
/* line 151, product_list.scss */
ul.product_list.grid > li .product-container {
  background: white;
  padding: 0;
  position: relative;
}
/* line 155, product_list.scss */
ul.product_list.grid > li .product-container .product-image-container {
  border: 1px solid #d6d4d4;
  padding: 9px;
  margin-bottom: 13px;
  position: relative;
}
@media (max-width: 767px) {
  /* line 155, product_list.scss */
  ul.product_list.grid > li .product-container .product-image-container {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 165, product_list.scss */
ul.product_list.grid > li .product-container .product-image-container .content_price {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  background: url(../img/price-container-bg.png);
  padding: 9px 0;
  display: none;
}
/* line 173, product_list.scss */
ul.product_list.grid > li .product-container .product-image-container .content_price span {
  color: white;
}
/* line 175, product_list.scss */
ul.product_list.grid > li .product-container .product-image-container .content_price span.old-price {
  color: #b1b0b0;
}
/* line 181, product_list.scss */
ul.product_list.grid > li .product-container h5 {
  padding: 0 15px 7px 15px;
  min-height: 53px;
}
@media (min-width: 960px) {
  /* line 185, product_list.scss */
  ul.product_list.grid > li .product-container .comments_note {
    display: none;
  }
}
/* line 189, product_list.scss */
ul.product_list.grid > li .product-container .comments_note .star_content {
  margin: 0 3px 12px 59px;
}
/* line 193, product_list.scss */
ul.product_list.grid > li .product-container .product-desc {
  display: none;
}
/* line 196, product_list.scss */
ul.product_list.grid > li .product-container .content_price {
  padding-bottom: 9px;
  line-height: 21px;
}
/* line 202, product_list.scss */
ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction {
  display: inline-block;
}
/* line 205, product_list.scss */
ul.product_list.grid > li .product-container .product-flags {
  display: none;
}
/* line 208, product_list.scss */
ul.product_list.grid > li .product-container .old-price {
  margin-right: 5px;
}
/* line 211, product_list.scss */
ul.product_list.grid > li .product-container .button-container {
  margin-bottom: 14px;
}
@media (min-width: 960px) {
  /* line 211, product_list.scss */
  ul.product_list.grid > li .product-container .button-container {
    display: none;
  }
}
/* line 218, product_list.scss */
ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
ul.product_list.grid > li .product-container .button-container span.button,
ul.product_list.grid > li .product-container .button-container .lnk_view {
  margin: 0 6px 10px 6px;
}
/* line 222, product_list.scss */
ul.product_list.grid > li .product-container .functional-buttons {
  background: url(../img/functional-bt-shadow.png) repeat-x;
  padding: 11px 0 5px;
}
@media (min-width: 960px) {
  /* line 222, product_list.scss */
  ul.product_list.grid > li .product-container .functional-buttons {
    display: none;
  }
}
/* line 228, product_list.scss */
ul.product_list.grid > li .product-container .functional-buttons div {
  width: 50%;
  float: left;
  padding: 3px 0 4px 0;
}
@media (min-width: 960px) {
  /* line 237, product_list.scss */
  ul.product_list.grid > li.hovered .product-container {
    -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
    -moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
    box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
    position: relative;
    z-index: 10;
  }
  /* line 241, product_list.scss */
  ul.product_list.grid > li.hovered .product-container .content_price {
    display: none;
  }
  /* line 245, product_list.scss */
  ul.product_list.grid > li.hovered .product-container .product-image-container .content_price {
    display: block;
  }
  /* line 248, product_list.scss */
  ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
    display: block;
  }
  /* line 254, product_list.scss */
  ul.product_list.grid > li.hovered .product-container .functional-buttons,
  ul.product_list.grid > li.hovered .product-container .button-container,
  ul.product_list.grid > li.hovered .product-container .comments_note {
    display: block;
  }
}
@media (min-width: 960px) {
  /* line 261, product_list.scss */
  ul.product_list.grid > li.first-in-line {
    clear: left;
  }
}
@media (min-width: 480px) and (max-width: 959px) {
  /* line 266, product_list.scss */
  ul.product_list.grid > li.first-item-of-tablet-line {
    clear: left;
  }
}
/* line 272, product_list.scss */
ul.product_list.grid li.hovered h5 {
  min-height: 30px;
}

@media (min-width: 960px) {
  /* line 281, product_list.scss */
  #blockpack ul > li.last-line {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 288, product_list.scss */
  #blockpack ul > li.first-item-of-tablet-line {
    clear: none;
  }
  /* line 291, product_list.scss */
  #blockpack ul > li.first-item-of-mobile-line {
    clear: left;
  }
}

/*******************************************************
Product list(List) Styles 
********************************************************/
@media (max-width: 479px) {
  /* line 305, product_list.scss */
  ul.product_list.list > li .left-block {
    width: 100%;
  }
}
/* line 310, product_list.scss */
ul.product_list.list > li .product-container {
  border-top: 1px solid #d6d4d4;
  padding: 30px 0 30px;
}
/* line 314, product_list.scss */
ul.product_list.list > li .product-image-container {
  position: relative;
  border: 1px solid #d6d4d4;
  padding: 9px;
}
@media (max-width: 479px) {
  /* line 314, product_list.scss */
  ul.product_list.list > li .product-image-container {
    max-width: 290px;
    margin: 0 auto;
  }
}
/* line 322, product_list.scss */
ul.product_list.list > li .product-image-container .content_price {
  display: none !important;
}
/* line 326, product_list.scss */
ul.product_list.list > li .product-flags {
  color: #333333;
  margin: -5px 0 10px 0;
}
/* line 329, product_list.scss */
ul.product_list.list > li .product-flags .discount {
  color: #f13340;
}
/* line 333, product_list.scss */
ul.product_list.list > li h5 {
  padding-bottom: 8px;
}
/* line 336, product_list.scss */
ul.product_list.list > li .product-desc {
  margin-bottom: 15px;
}
@media (max-width: 479px) {
  /* line 339, product_list.scss */
  ul.product_list.list > li .center-block {
    width: 100%;
  }
}
/* line 343, product_list.scss */
ul.product_list.list > li .center-block .comments_note {
  margin-bottom: 12px;
}
@media (min-width: 960px) {
  /* line 348, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content {
    margin: 0;
    border-left: 1px solid #d6d4d4;
    padding-left: 15px;
    padding-bottom: 16px;
  }
}
@media (max-width: 959px) {
  /* line 348, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 20px;
  }
}
@media (max-width: 479px) {
  /* line 348, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 5px;
  }
}
/* line 363, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .content_price {
  padding-bottom: 10px;
}
@media (max-width: 959px) {
  /* line 363, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .content_price {
    padding-top: 13px;
    padding-bottom: 0;
  }
}
@media (max-width: 479px) {
  /* line 363, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .content_price {
    padding-top: 0;
    width: 100%;
  }
}
/* line 374, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .content_price span {
  display: inline-block;
  margin-top: -4px;
  margin-bottom: 14px;
}
/* line 378, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
  margin-right: 8px;
}
/* line 383, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .button-container {
  overflow: hidden;
  padding-bottom: 20px;
}
@media (max-width: 479px) {
  /* line 383, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .button-container {
    width: 100%;
  }
}
/* line 389, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .button-container .btn {
  margin-bottom: 10px;
}
@media (min-width: 960px) {
  /* line 389, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    float: left;
    clear: both;
  }
}
@media (min-width: 960px) {
  /* line 397, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    overflow: hidden;
  }
}
@media (max-width: 959px) {
  /* line 397, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    clear: both;
  }
  /* line 403, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
    float: left;
    padding-top: 0 !important;
    padding-right: 20px;
  }
}
@media (max-width: 479px) {
  /* line 397, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    float: none;
    display: inline-block;
  }
  /* line 413, product_list.scss */
  ul.product_list.list > li .right-block .right-block-content .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
    display: none !important;
  }
}
/* line 418, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
  cursor: pointer;
}
/* line 421, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
  border: none;
}
/* line 424, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
  padding-top: 10px;
}
/* line 427, product_list.scss */
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare a:before {
  margin-right: 10px;
}
@media (min-width: 960px) {
  /* line 438, product_list.scss */
  ul.product_list.list > li:hover .product-image-container .quick-view {
    display: block;
  }
}
@media (max-width: 479px) {
  /* line 304, product_list.scss */
  ul.product_list.list > li {
    text-align: center;
  }
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/
/* line 456, product_list.scss */
#index ul.product_list.tab-pane > li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
@media (min-width: 960px) {
  /* line 456, product_list.scss */
  #index ul.product_list.tab-pane > li {
    padding-bottom: 85px;
    margin-bottom: 0;
  }
}
/* line 463, product_list.scss */
#index ul.product_list.tab-pane > li .availability {
  display: none;
}
@media (min-width: 960px) {
  /* line 467, product_list.scss */
  #index ul.product_list.tab-pane > li.last-line {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 474, product_list.scss */
  #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
    clear: none;
  }
  /* line 477, product_list.scss */
  #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
    clear: left;
  }
}

/***** IE code *****/
/* line 487, product_list.scss */
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #d6d4d4;
}
