/* Footer background color */
/* line 4, productcomments.scss */
#product_comments_block_extra {
  padding: 8px 10px 10px;
  font-weight: bold;
  line-height: 18px;
  border: 1px solid #d6d4d4;
  background: #fbfbfb;
  margin: 39px 0 22px;
}
/* line 11, productcomments.scss */
#product_comments_block_extra .comments_note {
  margin-bottom: 5px;
}
/* line 15, productcomments.scss */
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
  float: left;
  color: #333333;
}
/* line 19, productcomments.scss */
#product_comments_block_extra .star_content {
  margin-top: 1px;
}
/* line 23, productcomments.scss */
#product_comments_block_extra div.star:after {
  content: "\f006";
  font-family: "FontAwesome";
  display: inline-block;
  color: #777676;
}
/* line 31, productcomments.scss */
#product_comments_block_extra div.star_on:after {
  content: "\f005";
  font-family: "FontAwesome";
  display: inline-block;
  color: #ef8743;
}
/* line 38, productcomments.scss */
#product_comments_block_extra .comments_advices {
  clear: both;
}

/* line 43, productcomments.scss */
.comments_advices {
  padding-top: 2px;
}
/* line 45, productcomments.scss */
.comments_advices li {
  display: inline-block;
  line-height: 30px;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 45, productcomments.scss */
  .comments_advices li {
    display: block;
    line-height: 20px;
  }
}
/* line 53, productcomments.scss */
.comments_advices a {
  text-decoration: none;
  color: #777777;
  position: relative;
  margin-right: 8px;
  line-height: 30px;
  padding: 0;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 53, productcomments.scss */
  .comments_advices a {
    float: none;
    line-height: 20px;
  }
}
/* line 65, productcomments.scss */
.comments_advices a:before {
  background: #929292;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 15px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  margin-right: 6px;
  text-align: center;
  width: 30px;
  /*max 1199px*/
}
@media (max-width: 959px) {
  /* line 65, productcomments.scss */
  .comments_advices a:before {
    display: none;
  }
}
/* line 83, productcomments.scss */
.comments_advices a.reviews:before {
  content: "\f0e5";
}
/* line 86, productcomments.scss */
.comments_advices a.open-comment-form:before {
  content: "\f040";
}
/* line 89, productcomments.scss */
.comments_advices a:hover {
  color: #333333;
}
/* line 92, productcomments.scss */
.comments_advices a.reviews {
  border-right: 1px solid #d6d4d4;
  padding-right: 30px;
  margin-right: 9px;
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 92, productcomments.scss */
  .comments_advices a.reviews {
    margin-right: 0;
    padding: 0;
    border: none;
  }
}

/* pop-in add grade/advice ********************************************************************* */
/* line 108, productcomments.scss */
#fancybox-wrap {
  width: 585px;
}

/* line 111, productcomments.scss */
#fancybox-content {
  width: 585px;
  border-width: 0;
}

/* line 115, productcomments.scss */
#new_comment_form {
  overflow: hidden;
  color: #333333;
  text-align: left;
}
/* line 119, productcomments.scss */
#new_comment_form h2 {
  margin-bottom: 10px;
}
/* line 122, productcomments.scss */
#new_comment_form .title {
  padding: 10px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  background: #333333;
}
/* line 129, productcomments.scss */
#new_comment_form ul.grade_content {
  list-style-type: none;
  margin: 0 0 20px 0;
}
/* line 132, productcomments.scss */
#new_comment_form ul.grade_content li {
  width: 50%;
}
/* line 135, productcomments.scss */
#new_comment_form ul.grade_content span {
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  font-weight: bold;
}
/* line 141, productcomments.scss */
#new_comment_form ul.grade_content .cancel {
  margin-right: 5px;
}
/* line 145, productcomments.scss */
#new_comment_form .product {
  padding: 15px;
}
/* line 147, productcomments.scss */
#new_comment_form .product img {
  border: 1px solid #d6d4d4;
}
/* line 150, productcomments.scss */
#new_comment_form .product .product_desc {
  line-height: 18px;
  color: #666666;
}
/* line 153, productcomments.scss */
#new_comment_form .product .product_desc .product_name {
  padding: 10px 0 5px;
  font-size: 13px;
  color: #000;
}
/* line 160, productcomments.scss */
#new_comment_form .new_comment_form_content {
  padding: 15px 25px 15px 15px;
  background: #f8f8f8;
}
@media (max-width: 767px) {
  /* line 160, productcomments.scss */
  #new_comment_form .new_comment_form_content {
    padding-left: 25px;
  }
}
/* line 166, productcomments.scss */
#new_comment_form .new_comment_form_content .intro_form {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
/* line 172, productcomments.scss */
#new_comment_form label {
  display: block;
  margin: 12px 0 4px 0;
  font-weight: bold;
  font-size: 12px;
}
/* line 179, productcomments.scss */
#new_comment_form input,
#new_comment_form textarea {
  padding: 0 5px;
  height: 28px;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
}
/* line 186, productcomments.scss */
#new_comment_form textarea {
  height: 80px;
}
/* line 189, productcomments.scss */
#new_comment_form .submit {
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  text-align: right;
}
/* line 196, productcomments.scss */
#new_comment_form #criterions_list {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  list-style-type: none;
}
/* line 200, productcomments.scss */
#new_comment_form #criterions_list li {
  margin-bottom: 10px;
}
/* line 203, productcomments.scss */
#new_comment_form #criterions_list label {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
}
/* line 208, productcomments.scss */
#new_comment_form #criterions_list .star_content {
  float: left;
}
/* line 212, productcomments.scss */
#new_comment_form #new_comment_form_footer {
  margin-top: 20px;
  font-size: 12px;
}

/* TAB COMMENTS ******************************************************************************** */
/* line 218, productcomments.scss */
#product_comments_block_tab {
  margin: 0 0 20px 0;
}
/* line 220, productcomments.scss */
#product_comments_block_tab div.comment {
  margin: 0 0 14px;
  padding-top: 14px;
  border-top: 1px solid #d6d4d4;
}
/* line 224, productcomments.scss */
#product_comments_block_tab div.comment:first-child {
  padding: 0;
  border: none;
}
/* line 228, productcomments.scss */
#product_comments_block_tab div.comment .comment_author {
  padding: 0 20px;
  line-height: 18px span;
  line-height-font-weight: bold;
  line-height-float: left;
}
/* line 235, productcomments.scss */
#product_comments_block_tab div.comment .comment_author .star_content {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
/* line 241, productcomments.scss */
#product_comments_block_tab div.comment .comment_details {
  overflow: hidden;
  border-left: 1px solid #d6d4d4;
}
@media (max-width: 959px) {
  /* line 241, productcomments.scss */
  #product_comments_block_tab div.comment .comment_details {
    border-left: none;
  }
  /* line 246, productcomments.scss */
  #product_comments_block_tab div.comment .comment_details ul {
    list-style-type: none;
    margin: 0;
  }
  /* line 249, productcomments.scss */
  #product_comments_block_tab div.comment .comment_details ul li {
    padding: 2px 0 2px;
  }
  /* line 251, productcomments.scss */
  #product_comments_block_tab div.comment .comment_details ul li:before {
    font-family: "FontAwesome";
    content: "\f0da";
    color: #333333;
    margin-right: 8px;
  }
}
/* line 263, productcomments.scss */
#product_comments_block_tab div.star:after {
  content: "\f006";
  font-family: "FontAwesome";
  display: inline-block;
  color: #777676;
}
/* line 271, productcomments.scss */
#product_comments_block_tab div.star_on:after {
  content: "\f005";
  font-family: "FontAwesome";
  display: inline-block;
  color: #ef8743;
}
/* line 278, productcomments.scss */
#product_comments_block_tab .comment_author_infos {
  clear: both;
  padding-top: 9px;
}
/* line 281, productcomments.scss */
#product_comments_block_tab .comment_author_infos strong {
  display: block;
  color: #333333;
}
/* line 285, productcomments.scss */
#product_comments_block_tab .comment_author_infos em {
  color: #adadad;
}
/* line 289, productcomments.scss */
#product_comments_block_tab a {
  text-decoration: none;
  font-weight: bold;
}
/* line 294, productcomments.scss */
#product_comments_block_tab span.report_btn {
  cursor: pointer;
}
/* line 297, productcomments.scss */
#product_comments_block_tab span.report_btn:hover {
  text-decoration: underline;
}

/* line 301, productcomments.scss */
.fl {
  float: left;
}

/* line 304, productcomments.scss */
.fr {
  float: right;
}
